<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f68a519e-001a-4097-8d79-7e8d9076f4b6" Publisher="CN=kzaikin" Version="1.0.9999.9999" />
  <Properties>
    <DisplayName>Yandex.Metrica.Demo.WinRT</DisplayName>
    <PublisherDisplayName>kzaikin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Yandex.Metrica.Demo.WinRT.App">
      <VisualElements DisplayName="Yandex.Metrica.Demo.WinRT" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Yandex.Metrica.Demo.WinRT" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>